<div>
    {{ problem_form.problem_id.label }} {{ problem_form.problem_id(class="form-control") }}
    {{ problem_form.title.label }} {{ problem_form.title(class="form-control") }}
    {{ problem_form.description.label }} {{ problem_form.description(class="form-control") }}
    {{ problem_form.active.label }} {{ problem_form.active(class="form-control") }}
    {{ problem_form.start.label }} {{ problem_form.start(class="form-control") }}
    {{ problem_form.end.label }} {{ problem_form.end(class="form-control") }}
</div>