{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container ms-2">
        <h1 class="my-4">Todo List</h1>
        <div class="content">
            <form method="POST">
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="content" name="content" placeholder="add todo..."></textarea>
                    <label for="content">Todo Content</label>
                </div>
                <div class="btn-group btn-group-sm mb-3">
                    <input type="radio" class="btn-check" name="importance" value="important" id="importance-0" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="importance-0">Important</label>

                    <input type="radio" class="btn-check btn-sm" name="importance" value="unimportant" id="importance-1" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="importance-1">Unimportant</label>
                </div>
                <!-- <p>
                    <input type="radio"
                    id="importance-0"
                    name="importance"
                    required
                    value="important">
                    <label for="importance-0">Important</label>
                </p>
                <p>
                    <input type="radio"
                    id="importance-1"
                    name="importance"
                    required
                    value="unimportant">
                    <label for="importance-1">Unimportant</label>
                </p> -->
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <hr>
            {% for todo in todos %}
                <div class="card mb-3">
                    <div class="card-header">
                        {% if todo['importance'] == "important" %}
                            <span class="badge text-bg-success">{{todo['importance']}}</span>
                        {% else %}
                            <span class="badge text-bg-secondary">{{todo['importance']}}</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('delete', id=todo['_id']) }}">
                            {{todo['content']}} 
                            <button type="submit" class="btn btn-danger btn-sm position-absolute end-0">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}