{% extends 'base.html' %}
{% block title %}Patients{% endblock %}
{% block content %}

<div class="container">
    {% for patient in patients %}
        <div class="card mb-3 w-50">
            <!-- <div class="row g-0">
                <div class="col-2">
                    <img src="{{url_for('static', filename='img/patient.png')}}" class="img-fluid rounded-start" alt="patient pic">
                </div> -->
                <div class="col">
                    <div class="card-header align-items-center">
                        <h5 class="m-0">{{patient.name}} [ID: {{patient.id}}]</h5>
                    </div>
                    <div class="card-body d-flex align-items-center">
                        Age: {{patient.age}} y/o, {{patient.sex}}
                        <a type="button" class="btn btn-primary ms-auto" href="{{ url_for('patient', id=patient.id)}}">View</a>
                        <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                    </div>
                </div>
            <!-- </div> -->
        </div>
    {% endfor %}
</div>
{% endblock %}