{% extends 'base.html' %}
{% block title %}Test{% endblock %}
{% block content %}

<h1>Dynamic Form with Flask-WTF</h1>
<form method="POST" action="">
    {{ form.hidden_tag() }}

    <!-- Container to hold dynamically added groups -->
    <div id="dynamic-groups">
        {% for group in form.groups %}
            {{ render_field(group) }}
        {% endfor %}
    </div>

    <!-- Button to add a new group dynamically -->
    <button type="button" id="add-group-btn">Add Group</button>

    <br><br>
    {{ form.submit() }}
</form>

<script src="{{ url_for('static', filename='js/add_group.js') }}"></script>

{% endblock %}